@import "tailwindcss";

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-primary: #024B8F;
  --color-secondary: #572A01;
  --color-black: #0E0E0E;
  --color-green: #1D771D;
  --color-red: #F32C2C;
  --color-grey: #808080;
  --color-blue: #DDEFFF;
  --color-lnblack: #5E5E5E;
  --color-gray: #CFCFCF;
  --color-gray2: #F9F9F9;
}

:root {
  font-family: "Mulish", serif;
  line-height: 1.5;
  font-size: 16px;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  color: black;

  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

*::-webkit-scrollbar {
  display: none;
}

/* html {
  overflow: scroll;
} */

.mulish-regular {
  font-family: "Mulish", serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
}

.mulish-bold {
  font-family: "Mulish", serif;
  /* font-optical-sizing: auto; */
  font-weight: 700;
  font-style: normal;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.gradient {
  background: linear-gradient(98.88deg, #FFEDCC -10.49%, #EEF7FF 114.52%);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    color: black;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */